/**********************************

Name: cmxform Styles
para pintar formularios con rojo con Jquery 
***********************************/
form.cmxform label.error, label.error {
    /* remove the next line when you have trouble in IE6 with labels in list */
    color: red;
    font-style: italic
}

div.error {
    display: none;
}

input {
    border: 1px solid black;
}

input.checkbox {
    border: none
}

input:focus {
    border: 1px dotted black;
}

input.error {
    border: 1px dotted red;
}

form.cmxform .gray * {
    color: gray;
}

/* fin jquery validate */

/* Your custom styles */
.btn_sesion {
    color: blue;
}

.menu {
    margin-left: 2em;
}

.btn_modal {
    text-align: right;
}

.buscar {
    justify-content: space-between;
}

.add_acount {
    margin-top: 2em;
}

.footers {
    /*  position: absolute;*/
    bottom: 0;
    width: 100%;

}

.parrafo_main {
    margin: 2em;
}

@media screen and (max-width: 640px) {
    .menu {
        margin-left: 0em;
    }
}

.row {
    padding: 1em;
}

.container {
    height: 100%;
    /*height: 72vh;*/
    /*position: absolute;*/
}