<!DOCTYPE html>
<html lang="es">
<head>
    {% load static from staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
<meta http-equiv=”Pragma” content=”no-cache”>
<meta http-equiv=”Expires” content=”-1″>
<meta http-equiv=”CACHE-CONTROL” content=”NO-CACHE”>
    <title>{% block title %}DJANGO-REACTJS {% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href=" {% static "img/favicon/icon.png" %}"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<body class="hold-transition skin-blue sidebar-mini" oncontextmenu="return false" > -->
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{% static "css/mdb.min.css" %}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <!-- Datatable -->
    <link href="{% static "css/jquery.dataTables.css" %}" rel="stylesheet">
    <!-- Para seleccion de AUTOCOMPLETE busquedas-->
    <link href=" {% static "css/select2.min.css" %}" rel="stylesheet"/>

    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

    {% block css %} {% endblock %}

</head>
<body>
{% include 'messages.html' %}
{% include 'header.html' %}
<div class="se-pre-con"></div>
<div class="site-content"></div>
{% block contenido %}
{% endblock %}

</script>
{% block js %}
{% endblock %}
</body>

{% include "footer.html" %}
</html>
