<!--stard Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="/">DJANGO-REACTJS</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active menu">
                <a class="nav-link" href="/">Usuarios
                    <span class="sr-only">(current)</span>
                </a>
            </li>

        </ul>
        <!-- Links -->
        {% if not request.user.is_authenticated %}
            <a href="#">
                <button type="button" class="btn btn-white"><span class="btn_sesion">Iniciar Sesion</span></button>
            </a>
        {% else %}
            <a href="#">
                <button type="button" class="btn btn-white"><span class="btn_sesion">Cerrar sesión</span></button>
            </a>
        {% endif %}
    </div>
    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->