{% extends "base.html" %}
{% block title %}DJANGO-REACTJS{% endblock title %}
{% load static %}
{% block contenido %}

<div class="container">
<p class="parrafo_main">
    Bienvenido a DJANGO-REACTJS
</p>
</div>      
  
{% endblock contenido %}