{% extends "base_registro_usuario.html" %}
{% block title %}Registro de Cuenta{% endblock title %}
{% load static %}
{% block contenido %}
    <div class="container">
    {% if not request.user.is_authenticated %}  
      <div class="row justify-content-center ">

      <form role="form" method="POST" enctype="multipart/form-data">{% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.errors }}
            </div>
        {% endif %}

        <div class="card col-md-12">

        <div class="card-body mx-4">

           
            <div class="text-center">
                <h3 class="dark-grey-text mb-5"><strong>Registrarse</strong></h3>
            </div>

               <div class="row my-3 d-flex justify-content-center">
                     <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ redirect_to }}"> <button type="button" class="btn btn-red btn-rounded mr-md-3 z-depth-1a">Continuar con : <i class="fa fa-google  text-center"></i></button></a>
                     
                      {# <a href="{% url 'social:begin' 'twitter' %}?next={{ redirect_to }}"><button type="button"class="btn btn-info btn-rounded mr-md-3 z-depth-1a">Continuar con :<i class="fa fa-twitter "></i></button></a> #}
                      <a href="{% url 'social:begin' 'facebook' %}?next={{ redirect_to }}"> <button type="button" class="btn btn-blue btn-rounded mr-md-3 z-depth-1a">Continuar con: <i class="fa fa-facebook blue-text text-center"></i></button> </a>
              </div>

            <!--Body-->
           <div class="md-form ">
                {{form.usuario}}
                {{form.usuario.label_tag}}
            </div>
            <div class="md-form">
                 {{form.email}}
                  {{form.email.label_tag}}
            </div>

            <div class="md-form pb-3">
                 {{form.password}}
                {{form.password.label_tag}}
            </div>

            <div class="text-center mb-3">
                <button type="submit" class="btn btn-primary btn-block ">Siguiente<i class="fa fa-sign-in ml-1"></i> </button>
            </div>    

        </div>

        <!--Footer-->
        <div class="modal-footer mx-5 pt-3 mb-1">
          <span class="tiene_cuenta">¿Ya tienes una cuenta?<a href=" {% url 'iniciar_sesion' %} ">Iniciar sesión?</a></span>
        </div>

      </form>
      </div>
      {% else %}
        <p>Ya se registró  <a href=" {% url 'cerrar_sesion' %} ">Cerrar</a></p>
      {% endif %}

    </div>

{% endblock contenido %}